{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action ="">
                {% csrf_token %}
                {{ form }}
                <br />
                <input type="submit" value="Ajouter Contact" class="btn btn-primary" />
                <input type="reset"  value="Effacer" class="btn btn-danger" />
            </form>
        </div>
        <div class="col-md-6">
            {% if contact_list %}
                <table class="table table-bordered table-hover table-striped">
                    <tr><th colspan="4">Contacts</th></tr>
                    <tr>
                        <th>Nom</th>
                        <th>Position</th>
                        <th>Numero</th>
                        <th>Editer/Effacer</th>
                    </tr>
                    {% for c in contact_list %}
                        <tr>
                            <td>{{ c.name }}</td>
                            <td>{{ c.position }}</td>
                            <td>{{ c.number }}</td>
                            <td><a href="/contact/edit/{{c.id}}">Editer</a>/<a href="/contact/delete/{{c.id}}">Effacer</a></td></tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}