{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <p>{{ value }}</p>
            <div id="gauge" style="width:400px; height:320px;"></div>
        </div>
        <div class="col-md-4">
            <p>{{ value2 }}</p>
            <canvas id="guage2"></canvas>
        </div>
        <div class="col-md-4">
            <p>{{ value3 }}</p>
            <canvas id="guage3"></canvas>
        </div>
    </div>
    <script>
        var g = new JustGage({
            id: "gauge",
            value: 5,
            min: 0,
            max: 10,
            title: "Tiapiri"
  });
</script>
{% endblock %}