{% extends "base.html" %}
{% block content %}
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4" >
            <div class="waterguage">
                <div id="gauge1"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="waterguage">
                <div id="gauge4"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value4 }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="waterguage">
                <div id="gauge2"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value2 }}</p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4" >
            <div class="waterguage">
                <div id="gauge5"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value5 }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="waterguage">
                <div id="gauge6"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value6 }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="waterguage">
                <div id="gauge3"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value3 }}</p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4" >
            <div class="waterguage">
                <div id="gauge7"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value7 }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="waterguage">
                <div id="gauge8"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value8 }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="waterguage">
                <div id="gauge9"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value9 }}</p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4">
            <div class="waterguage">
                <div id="gauge10"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value10 }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="waterguage">
                <div id="gauge11"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value11 }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="waterguage">
                <div id="gauge12"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value12 }}</p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4">
            <div class="waterguage">
                <div id="gauge13"></div>
                <p align="center" style="color: #C8C8C8;">Actual Value: {{ value13 }}</p>
            </div>
        </div>
    </div>

    <script>
        var g1 = new JustGage({
            id: "gauge1",
            value: {{ value_round }},
            min: 0,
            max: 7,
            title: "Tiapiri 1",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
        });
        var g4 = new JustGage({
            id: "gauge4",
            value: {{ value_round4 }},
            min: 0,
            max: 7,
            title: "Tiapiri 2",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
        });
        var g2 = new JustGage({
            id: "gauge2",
            value: {{ value_round2 }},
            min: 0,
            max: 7,
            title: "Socredo",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
        });
        var g3 = new JustGage({
            id: "gauge3",
            value: {{ value_round3 }},
            min: 0,
            max: 7,
            title: "Schmidt",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
        });
        var g5 = new JustGage({
            id: "gauge5",
            value: {{ value_round5 }},
            min: 0,
            max: 7,
            title: "Tavararo",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
        });
        var g6 = new JustGage({
            id: "gauge6",
            value: {{ value_round6 }},
            min: 0,
            max: 7,
            title: "Saint-Hilaire",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
        });
        var g7 = new JustGage({
            id: "gauge7",
            value: {{ value_round7 }},
            min: 0,
            max: 7,
            title: "Cowan",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
        });
        var g8 = new JustGage({
            id: "gauge8",
            value: {{ value_round8 }},
            min: 0,
            max: 7,
            title: "Oscar",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
            });
        var g9 = new JustGage({
            id: "gauge9",
            value: {{ value_round9 }},
            min: 0,
            max: 7,
            title: "Passard",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
            });
        var g10 = new JustGage({
            id: "gauge10",
            value: {{ value_round10 }},
            min: 0,
            max: 7,
            title: "Puurai 0",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
            });
        var g11 = new JustGage({
            id: "gauge11",
            value: {{ value_round11 }},
            min: 0,
            max: 7,
            title: "Puurai 1",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
            });
        var g12 = new JustGage({
            id: "gauge12",
            value: {{ value_round12 }},
            min: 0,
            max: 7,
            title: "Puurai 2",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
            });
        var g13 = new JustGage({
            id: "gauge13",
            value: {{ value_round13 }},
            min: 0,
            max: 7,
            title: "Puurai 3",
            levelColors : [  "#85BFF2", "#4BA4F2",  "#4992F2" ],
            relativeGaugeSize: true
            });

    </script>
{% endblock %}