{% include "header.html" %}

{% if form.errors %}
<p>Identifiant incorrect. S'il vous plaît essayer à nouveau.</p>
{% endif %}
<!-- body -->
<body>
	<div class="container">
		<div id="login" style="margin-top: 50px;">
			<div class="col-md-4"></div>

			<!-- form div -->
			<div class="col-md-4">
			<!-- box for form -->
				<div class="loginbox" style="border: solid; border-width: 2px; border-radius: 9px; border-color: #3472F7; padding: 20px;">
					<h4 style="font-family: 'Open Sans', sans-serif; font-weight: 300;">Connexion</h4>
					<!-- insert form here -->
						<form action="" method="POST">
						       {% csrf_token %}
                                <input type="text" value="" name="username" placeholder="login" class="form-control">
                                <br>
                                <input type="password" name="password" placeholder="mot de passe" class="form-control">
                                <br>
                                <input type="submit" name="se connecter" value="se connecter" class="btn btn-info btn-default">
                            </form>
				<!-- end of form -->
				</div>
			<!-- end of box for form -->
			</div>
			<!-- end of form div -->


			<div class="col-md-4"></div>
			<!-- footer for login -->
		</div>	
	</div>
{% include "footer.html" %}

